@import "src/@fuse/scss/fuse";

app-userprofile {

    #profile {
        width: 100%;
        height: 100%;
        background: url('/assets/images/backgrounds/dark-material-bg.jpg') no-repeat;
        background-size: cover;

        #profile-form-wrapper {
            flex: 1 0 auto;
            padding: 32px;

            @include media-breakpoint('xs') {
                padding: 16px;
            }

            #profile-form {
                margin: auto;
                width: 70%;
                max-width: 70%;
                padding: 32px;
                text-align: center;
                background-color: white;
                @include mat-elevation(16);

                @include media-breakpoint('xs') {
                    padding: 24px;
                    width: 100%;
                }

                .logo {
                    width: 100px;
                    height: 100px;
                    margin: 32px auto;
                    .avatar{
                        width:100%;
                        height: 100%;
                    }
                }

                .title {
                    font-size: 20px;
                    margin: 16px 0 32px 0;
                }

                form {
                    width: 100%;
                    text-align: left;

                    mat-form-field {
                        width: 100%;
                    }

                    mat-checkbox {
                        margin: 0;
                    }
                    .profileFormControl{
                        .left-con{
                            width: 50%;
                         }
                        .right-con{
                            width: 50%;
                            .mat-form-field-infix{
                                border-top:0px !important;
                            }
                            .mat-form-field-underline{
                                height: 0px !important;
                            }
                            .mat-form-field-label{
                                padding: 10px;
                            }
                            textarea{
                                border: 1px solid #ebecf0;
                                border-radius: 5px;
                                padding: 10px;
                            }
                        }
                        .divider{
                            width: 1px;
                            margin: 0 48px;
                            background-color: rgba(0,0,0,.12);
                            height: 300px;
                        }
                    }
                    .addressFormcontrol{
                        agm-map {
                            height: 300px;
                            width: 100%;
                        }
                    }
                    .areasFromControl{
                        mat-checkbox{
                            margin: 20px 0px;
                        }
                    }
                    .remember-forgot-password {
                        font-size: 13px;
                        margin-top: 8px;
                        flex-direction: row;
                        box-sizing: border-box;
                        display: flex;
                        place-content: center space-between;
                        align-items: center;

                        .remember-me {
                            margin-bottom: 16px
                        }

                        .forgot-password {
                            font-size: 13px;
                            font-weight: 600;
                            margin-bottom: 16px
                        }
                    }

                    .submit-button {
                       /* width: 220px; */
                        margin: 16px ;
                       /* display: block;*/

                        @include media-breakpoint('xs') {
                            width: 90%;
                        }
                    }
                }

                .register {
                    margin: 32px auto 24px auto;
                    font-weight: 600;

                    .text {
                        margin-right: 8px;
                    }
                }

                .separator {
                    font-size: 15px;
                    font-weight: 600;
                    margin: 24px auto;
                    position: relative;
                    overflow: hidden;
                    width: 100px;

                    .text {
                        display: inline-flex;
                        position: relative;
                        padding: 0 8px;
                        z-index: 9999;

                        &:before,
                        &:after {
                            content: '';
                            display: block;
                            width: 30px;
                            position: absolute;
                            top: 10px;
                            border-top: 1px solid;
                        }

                        &:before {
                            right: 100%;
                        }

                        &:after {
                            left: 100%;
                        }
                    }
                }

                button {

                    &.google,
                    &.facebook {
                        width: 192px;
                        text-transform: none;
                        color: #FFFFFF;
                        font-size: 13px;
                    }

                    @include media-breakpoint('xs') {
                        width: 80%;
                    }

                    &.google {
                        background-color: #D73D32;
                        margin-bottom: 8px;
                    }

                    &.facebook {
                        background-color: rgb(63, 92, 154);
                    }
                }
            }
        }
    }
}