<div style="width:100%;">
<div   class="app-container">
    
    <div class="other-screen">
        <div class="other-screen-inner">
            <div class="left-content">
                <div class="img-thumb">
                    <img src="../../,,/../../../../assets/images/others/other-img.jpg" alt="" />
                </div>
            </div>
            <div class="right-content">
                <div class="date">
                    <span class="icon"><img src="../../,,/../../../../assets/images/others/clock-icon.png" alt="" /></span>
                    <span class="time">60 min</span>
                </div>
                <div class="heading">
                    <h2>{{title}}</h2>
                </div>
                <div class="desc">
                    <p>{{description}}</p>
                </div>
                <div class="button-container">
                    <div class="button-group">
                        <button class="btn launch-btn" (click)="launchCourse($event)">Launch</button>
                    </div>
                </div>
                <div class="statusbar-container">
                    <div class="statusbar">
                        <div class="s-bar" style="width: 70%;">Status</div>
                      </div>
                </div>
            </div>
        </div>
    </div>
        
</div>
</div>