
.pick-top-container {
    padding: 3rem 2rem;
    .section-title {
        color: #000;
    }
    .top-pick-list {
        .picks-thumbs {
            align-items: center;
            width: 25%;
            margin-right: 30px;
            width: calc(25% - 23px);
            &:last-child {
                margin-right: 0;
            }
            .media {
                width: 120px;
                img {
                    width: 100%;
                }
                margin-right: 15px;
            }
            .desc {
                width: calc(100% - 165px);
                p {
                    margin: 0;
                    font-weight: bold;
                    text-transform: uppercase;
                    color: #1b3a65;
                    &.blue-text {
                        color: #039be5;
                    }
                }
                ul {
                    padding: 0;
                    margin: 0;
                    display: flex;
                    li {
                        list-style: none;
                        .mat-icon {
                            color: #e1362a;
                        }
                    }
                }
            }
        }
    }
}

.pick-buttom-container {
    padding: 3rem 2rem 3rem;
    .pick-buttom-list {
        .fuse-card {
            align-items: center;
            width: 25%;
            margin-right: 30px;
            width: calc(25% - 23px);
            &:last-child {
                margin-right: 0;
            }
        }
    }
}